.nav-item {
  margin: 0;

  .nav-link {
    text-transform: capitalize;
  }
}

.nav-lang{
  margin: 15px 0 15px 10px;
  padding: 0 !important;
  @include desktop {
    margin: 10px auto;
  }
}

.navbar-dark .navbar-nav {
  position: relative;

  .nav-underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: $primary-color;
    transition: all 0.4s ease;
    pointer-events: none;
  }
}


.navbar-dark .navbar-nav .nav-link {
  color: $text-color;
  text-decoration: none;
  text-underline-offset: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px 15px;
  @include desktop {
    padding: 10px 0;
  }
}

