/* Button style */
.btn {
  font-size: 16px;
  font-family: $secondary-font;
  text-transform: capitalize;
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
}

.btn-link {
  padding: 0;
  color: $white;
  border: 0;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: transparent;
  &:hover{
      color: $white;
      text-decoration: underline;
      text-underline-offset: 10px;
      text-decoration-color: $primary-color;
  }
}

.btn-link-group {
  a{
      padding: 0;
      color: $white;
      border: 0;
      text-decoration: underline;
      text-underline-offset: 10px;
      text-decoration-color: transparent;
      &:hover{
          color: $white;
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-color: $primary-color;
      }
    }
}

.btn-primary {
  background-color: transparent;
  border: 3px solid $primary-color;
  color: $primary-color;
  transition: .3s;
}
.btn-primary:hover {
  background-color: transparent;
  border: 3px solid $primary-color;
  color: $primary-color;
  animation: pulse 1s infinite;
  transition: .3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}
