// -------------------------------------------------------------------------
// ICON OVERRIDES
// -------------------------------------------------------------------------
.fa,
.fas,
.far,
.fab {
  color: $primary-color !important;
}

// -------------------------------------------------------------------------
// CARD DARK BACKGROUND OVERRIDE
// -------------------------------------------------------------------------
.card.bg-dark {
  background-color: $dark !important;
  border: none;
}
