<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <ul class="list-inline social-icons mb-5">
          {{ range .Site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{.icon}}"></i></a></li>
          {{ end }}
        </ul>
        <hr class="mx-auto border-default" style="width: 90px;">
        <p class="mt-5">{{ .Site.Params.copyright | markdownify }}</p>
      </div>
    </div>
  </div>
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MC6F7W8');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MC6F7W8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{{ end }}